@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
.container {
  display: flex;
  align-items: center;  
  justify-content: space-between;  
  width: 80%; 
  margin: 0 auto; 
}
.image {
  width: 1;
  height: 1;
}
.text {
  flex: 1; 
  text-align: center;
  color: #fff;
}

body {
  font-family: "Gentium Plus", serif;
  font-weight: 400;
  font-style: normal;
  background: url('https://github.com/tiffany-vanhoutte-nws/cv/raw/main/assets/images/bg.jpg') center/cover;
  color: #fff;
    }


header,
footer {

  color: #fff;
  padding: 1em 0;
}

h1 {
  color: #fff;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  margin: 0 40px;
  padding: 10px 20px;
  font-style: bold;
  color: #000;
  background-color: #BF00FF;
  border: 2px solid #9400D3;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3 ease;
}
header li:hover {
  background-color: #fa25cb;
  border-color: #fff;
  transform: translateY(-3px);
}
header li:active{
  transform: translateY(1px);
}
.titre {
  display: flex;
  justify-content: center;
  margin: 0.5 auto;
}
.info {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 5%; 
}

.para, .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; 
  text-align: center;
}

.para p {
  max-width: 90%; 
}

.info img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.info li{
  list-style: none;
}

.about img {
  margin-top: 10px; 
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    font-size: 14px;
  }

  .para, .about {
    width: 70%; 
  }

  .info img {
    width: 150px; /*sur mobile*/
  }
}
div {
  margin: 10px;
}

.train {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  gap: 20px; /* Espacement */
  flex-wrap: wrap; /* mobile */
}

.train > * {
  flex: 1; 
  min-width: 300px; 
  text-align: center;
}

.hard {
  text-align: center;
}
.train li{
  list-style: none;
}
.hard li{
  list-style: none;
}
.exp {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0%;
}
.exp li{
  list-style: none;
}

.perso {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:10px;
  flex-wrap: wrap;
}
.soft, .centre{
  text-align: center;
  flex:1;
}

.perso img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
@media (max-width:768px){
  .perso{
    flex-direction: column;
    align-items: center;
    gap:5px;
  }
.perso img{
    width: 80%;
    max-width:200px;
  }
.soft, .centre{
    width:100%;
  }
}
.perso li{
  list-style: none;
}
h2 {
  color:#fa25cb ;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
footer {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

footer img {
  max-width: 100%;
  height: auto; 
}